h2{ background-color:#ff9999;
}
  header{

border-style: groove;
border-width: thick;
border-color:#050505;
  height: 100px;
width: 100%;
}
body{
background-color: #dbd9d9;


}
nav{

background-color:#050505;
height: 30px;
width: 100%;
margin-top: 30px;
border-style: groove;
border-width: thick;
border-color:
#7c807c;

}
a:link {
  color: #d6d5d2;
  text-decoration: none;
  margin-left: 40px;
  font-size: 20px;

}

a:visited {
  color: #d6d5d2;
}

a:hover {
  color: #d6d5d2;
}

a:active {
  color: #d6d5d2;
}

main{

background-color: #ffffff;

height: 550px;
width: 120%;
}
 aside{
background-color: #dbd9d9;
height: 300px;
width: 35%;
}

#left{

  width:10%;
}


footer{
  background-color: #dbd9d9;
height: 100px;
width: 100%;

}
#mainwrapper{
display:flex;
height:100%;
margin-top: 30px;
border-style: groove;
border-width: thick;
border-color:
}
#wrapper{
   width: 100%;
margin-left:auto;
  margin-right: auto;

}
#box1wrapper{
  height: 100%;
  width: 100%;
  background-color: #dbd9d9;
  display:flex;

}
#box2wrapper{
  height: 0%;
  width: 100%;
  background-color: green;
}
#boxleft{
  height:100%;
  width:20%;
  background-color: #dbd9d9;
}



@media only screen and (max-width:600px) {

#mainwrapper{
  display:flex;
flex-direction: column;
}
main{

  width: 100%;

}
aside{
  width: 100%;
}
nav{

  height: 200px;
}


}
